body {
 
    background-image: url(../cloud.png);
    background-color: 7C83FD;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    }
    body,html{
      min height: %100;
    }
h1{color: purple;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h2{color: crimson;}
p{color:midnightblue;
}
p{font-family: sans-serif;}
h3{
  color: rgb(1, 6, 73);
}
hr{border-width: 2px;
border-color: navy;}

.middle-container{
  padding-top: 650px;
  
}

    



  
  
